
ul{
    display: flex;
 background-color: #05364D;
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}

li a{
    padding: 15px;
    border: 1px solid #05364D;
}

.li{
    margin-left: 25px;
}

 li a:hover{
     color: black;
    background-color: white;
} 

.lis{
    margin-left: 650px;
}


