html {
    overflow-x: hidden;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html[Attributes Style] {
    -webkit-locale: "en-US";
}
user agent stylesheet
html {
    display: block;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}

ul{
    display: flex;
 background-color: #05364D;
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}

li a{
    padding: 15px;
    border: 1px solid #05364D;
}

.li{
    margin-left: 25px;
}

 li a:hover{
     color: black;
    background-color: white;
} 

.lis{
    margin-left: 650px;
}